<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>

    <!-- Add your EJS code here -->
  <ul>
      <form method="POST" action="/urls/<%= shortURL %>/" >
        <li><%= shortURL%> - <%= longURL%></li>
        <br>
        <input type="text" name="newLongURL" value= <%= longURL %>>
        <input type="submit" value="Update"> </li>
      </form>
  </ul>
</body>
</html>