<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <header>
    <% include ./partials/_header %>
    </header>

    <ul>

    <% for (url in urls) { %>
         <form method="POST" >
           <li><%= url %> - <%= urls[url]%> <input formaction="/urls/<%= url %>" type="submit" value="Edit"><input formaction="/urls/<%= url %>/delete" type="submit" value="Delete"> </li>
         </form>
    <% } %>

</ul>
</body>
</html>

