<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <header>
    <% include ./partials/_header %>
    </header>

    <ul>

    <% for (url in urlData) { %>
         <form method="POST" >
           <li><%= urlData[url].shortURL %> - <%= urlData[url].longURL%> <input formaction="/urls/<%= urlData[url].shortURL  %>" type="submit" value="Edit"><input formaction="/urls/<%= urlData[url].shortURL%>/delete" type="submit" value="Delete"> </li>
         </form>
    <% } %>
    <a href = "/urls/new"> Create new short URL </a>

</ul>
</body>
</html>

